.color-table{

  &__ag-grid{
    position: relative;
    margin: 0 auto;
    height: 180px;
    width: 240px;

  }

}

.ag-header-cell-label {
  justify-content: center;
}

.ah-header{
  margin-bottom: 10px;
}

