.warning-block{
  padding: 5px 15px 10px 15px;

  border-radius: 25px;

  max-width: 240px;

  &__title{
    text-align: center;
  }
}

.warning-block-success{
  border: 1px solid #B5D496;
  background-color: rgba(181,212,150,0.2);
}

.warning-block-warning{
  border: 1px solid #F9D823;
  background-color: rgba(249,216,35,0.2);
}

.warning-block-error{
  border: 1px solid #F07873;
  background-color: rgba(240,120,115,0.2);
}