$border: 2px;
$color-square: 150px;

.modal-color-block {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  backdrop-filter: blur(15px);

}
.pantone-box{

  width: $color-square + ($border * 2);
  border: $border solid #000;

  &__color{
    height: $color-square;
    width: $color-square;
  }

  &__id{
    position: absolute;
    top: 0;
    left: 5px;
    color: rgba(0,0,0,.3);
  }

  &__year{
    position: absolute;
    top: $color-square - 22px;
    right: 5px;
    color: rgba(0,0,0,.3);
  }

  &__text{
    padding: 0;
    margin: 0 0 0 5px;
  }
}